@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
#container-banner{
    width: 80%;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 120px;
     background-image:linear-gradient( #070211 40%, rgba(7, 2, 17, 0.00) 100%), url('../Image/Banner\ Image.png');
     

}

#h3-banner{
    padding-top: 177px;
    
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#h1-banner{
    padding: 10px 300px;
    
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;}

#off{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#p1{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#p2{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#photo1{
    position: center;
    margin: 0 399px;
    width: 802.9px;
height: 500px;
flex-shrink: 0;
}
#welcome{
    color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
}
#sit{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.all{
    position: center;
    width: 1320px;
    height: 600px;
    margin: 20px auto;
    background-image: url("../Image/Vectorrr.png");
    
}
#all{
    margin-left: 60px;
}











.footer {
    height: 609px;
    flex-shrink: 0;
    background: #070211;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.footer-cont1-1 {
    width: 375px;
    height: 80;
    margin: 120px 0 260px;
}

.footer-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.footer-cont2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: 298px 0 0px;
}

.footer-cont3-1 {
    margin: 0px 275px 0px 0px;
}

#Unsubscribe {
    text-align: right;
}

.footer-cont3-1-1 {
    display: flex;
    text-align: center;
    gap: 15px;
    text-align: left;
    margin: 120px 0 0px;
}

.footer-cont3-1-2 {
    display: flex;
    text-align: center;
    gap: 15px;
    text-align: left;
    margin-bottom: 260px;
}